@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Over+the+Rainbow&display=swap');

:root {
  --cor-fraca: rgba(255, 0, 0, 0.729);

  --cor-moderada: rgba(221, 255, 0, 0.649);

  --cor-forte: rgba(0, 255, 4, 0.649);

  --cor-da-borda: black;
}


body {
  background-image: url("../IMG/7lsH.gif");
  background-repeat: no-repeat;
  background-size: 100% 150%;
}


#espacoSemNav {
  width: 100%;
  height: 350px;
  background-color: transparent;
}

.centraOlho {
  margin: 0 auto;
  width: 300px;
  height:300px;
  background-image: url("../IMG/giphyOlho.gif");
  background-size: cover;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;

}

#formDaSenha {

  height: 97%;
  width: 100%;
  background-color: var(--cor-fraca);
  margin: 0 auto;
  border: 3px dotted rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  border-color: rgba(255, 255, 255, 0.754);
  box-shadow: 0px 0px 10px #000000;


}

form {
  width: 100%;
}

.formSenha {
  text-align: center;
  display: block;


}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin-top: 90px;
  color: rgb(0, 0, 0);
  /* Largura e cor do contorno */
}

.inputSenha {
  margin-top: 30px;
  border-top: 40px;


}

input {
  width: 60%;
  height: 30px;
  background-color: transparent;
  border-radius: 20px;
  border-color: black;
  font-size: 30px;
  color: rgb(255, 255, 255);
  outline: none;
}
.resultado{
  border: 0px;
  text-align: center;
}
